@media screen and (max-width: 1000px) {
	ul {
		padding-left: 7%;
	}
}

@media screen and (max-width: 900px) {
	ul {
		padding-left: 0;
	}

	.side-bar {
		width: 162px;
	}

	.main-content {
		width: calc(100% - 162px);
	}
}

@media screen and (max-width: 650px) {
	.dates {
		width: 100%;
	}

	.col-1, .col-2 {
		float: left;
	}
}

@media screen and (max-height: 560px) and (orientation: landscape) {
	h1 {
		font-size: 1.8em;
	}

	h4 {
		margin: 1.2em 0;
	}

	input, select {
		margin: 10px 0;
		padding: 8px 15px;
	}

	.side-bar {
		padding: 10px 30px;
	}

	li {
		line-height: 1.2em;
		margin: 0.4em 0;
		padding: 0.25em 0;
	}

	.float-bottom {
		line-height: 2.5em;
	}

	.main-content {
		padding: 0;
	}

	.header-panel {
		padding: 0 20px;
	}

	.no-content {
		background-size: 40%;
	}
}

@media screen and (max-width: 980px) and (max-height: 1800px) and (orientation: portrait) {
	h1 {
		font-size: 3.4em;
	}

	h4 {
		margin: 1.2em 0;
	}

	.header-btn {
		font-size: 1.5em;
		letter-spacing: 1px;
		word-wrap: break-word;
	}
}